h1 {
  font-weight: bolder;
}

h2 {
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.container {
  max-width: 960px;
}

.feature-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

div.nope-video iframe {
  width: 640px;
  height: 480px;
}

img[src$="#centered"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nope-videograph {
}

.nope-tab-preview, .nope-tab-graph {
  height: 600px;
}

.nope-videograph video, .nope-videograph img {
  height: 600px;
}

.nope-tabs-bar {
  text-align: center;
  padding: 10px;
}

.nope-tab-graph {
  text-align: center;
  background-color: #222;
}

.nope-btn-on,
.nope-btn-off {
  display: inline;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  color: black;
  font-weight: bolder;
}

.nope-btn-on {
  background-color: #222;
  color: #fff;
  cursor: default;
}

.nope-btn-off {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.nope-tab-on {
  display: block;
}

.nope-tab-off {
  display: none;
}
