<header class="container d-flex flex-wrap justify-content-center py-3 border-bottom">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="{{ .Site.Home.RelPermalink }}">
    {{ with .Site.Params.site_logo }}
    <img src="{{ relURL . }}" alt="{{ $.Site.Title }}" width="64" class="mx-2"/>
    {{ end }}
    <span class="fw-bolder">{{ .Site.Title }}</span>
  </a>

  <ul class="nav nav-pills align-items-center">
    {{ range .Site.Menus.main }}
    <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end}}
  </ul>
</header>