{{ $name := (.Get "data") }}
{{ $img_class := (.Get "img_class") }}
{{ $data := index .Site.Data $name }}
<div class="justify-content-center">
  {{ range $i, $p := $data }}
    {{ if (modBool $i 2) }}
      <div class="row">
        <div class="col-md-7">
          <h2 class="feature-heading fw-normal lh-1">{{.title}}</h2>
          <p class="lead">{{ .desc | markdownify }}</p>
        </div>
        <div class="col-md-5">
          {{ with .img }}<img src="/img/{{ $name }}/{{ . }}" class="img-fluid mx-auto{{ with $img_class }} {{ . }}{{ end }}"
          alt="">{{ end }}
        </div>
      </div>
      <hr class="feature-divider">
    {{ else }}
      <div class="row">
        <div class="col-md-7 order-md-2">
          <h2 class="feature-heading fw-normal lh-1">{{.title}}</h2>
          <p class="lead">{{ .desc | markdownify }}</p>
        </div>
        <div class="col-md-5 order-md-1">
          {{ with .img }}<img src="/img/{{ $name }}/{{ . }}" class="img-fluid mx-auto{{ with $img_class }} {{ . }}{{ end }}"
          alt="">{{ end }}
        </div>
      </div>
      <hr class="feature-divider">
    {{ end }}
  {{ end }}
</div>
