{{ $name := (.Get "data") }}
{{ $data := index .Site.Data $name }}
<div class="justify-content-center">
  {{ range $i, $p := $data }}
    {{ $m := (add (mod $i 2) 1) }}
    <div class="row align-items-center">
      <div class="col-md-7 order-md-{{ $m }}">
        <h2 class="feature-heading fw-normal lh-1">{{.title}}</h2>
        <p class="lead">{{ .desc | markdownify }}</p>
      </div>
      <div class="col-md-5 order-md-{{ sub 3 $m }}">
        {{ with .img }}<img src="/img/{{ $name }}/{{ . }}" class="img-fluid mx-auto"
          alt="">{{ end }}
      </div>
    </div>
    <hr class="feature-divider">
  {{ end }}
</div>
